/* Global */

body {
    font-family: 'Poppins', 'Inter', sans-serif;
    background-color: #EFE9F4;
    margin: 0;
    padding: 0;
}

/* - Navegação - */

/* Container da navegação */
nav {
    position: fixed;
    top: 0;
    width: 100%;
    font-family: 'Poppins', sans-serif;
    font-weight: 200;
    letter-spacing: 0.15rem;
    font-size: 2rem;
    display: flex;
    background: #171D1C;
    height: 6.25rem;
    align-items: center;
    justify-content: space-between;
    z-index: 9999;
}

/* Lista de itens do menu */
nav ul {
    display: flex;
    gap: 3.125rem;
    list-style: none;  /* list-style-type removido para list-style */
    margin-right: 3.125rem;
}

/* Links do menu */
nav a {
    text-decoration: none;
    color: #EFE9F4;
    transition: 0.3s;
    text-transform: lowercase;
}

/* Efeito hover nos links */
nav a:hover {
    opacity: 0.7;
}

/* Logo da navegação */
nav img {
    margin-left: 3.125rem;
}

/*- Header -*/

header {
    margin-top: 3.125rem;
}

.hero {
    background-color: #797A9E;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 31.25rem;
    margin-top: 6.25rem;
}

/* Minha foto de perfil no Hero */

.pfp {
    width: 300px;
    height: 300px;
    transition: 0.3s;
}

.pfp:hover {
    filter: brightness(110%);
}

/* Estilizando textos do Hero */

.hero h1, h2, h3 {
    color: #EFE9F4;
    margin: 0;
    font-family: 'Inter', sans-serif;
    text-transform: lowercase;
}

.hero h1 {
    text-transform: uppercase;
    font-weight: 900;
    font-size: 3rem;
    margin-right: 3.125rem;
}

.hero h1 span, h3 span {
    color: #171D1C;
}

.hero h2 {
    font-size: 2rem;
    font-weight: 500;
}

.hero h3 {
    font-weight: 300;
    letter-spacing: .15rem;
    font-size: 1.5rem;
}

/* - Sobre Mim -*/

.about-me {
    font-family: 'Inter', sans-serif;
    color: #171D1C;
    margin-left: 3.75rem;
    margin-top: 3.25rem;
}


.about-me h2 {
    color: #171D1C;
    font-size: 2.5rem;
    
}

.about-me p {
    height: 10.625rem;
    width: 31.25rem;
    font-size: 1.25rem;
    font-weight: 300;
}

/* Adiciona espaçamento */

#about-me-subtext::before {
    content: "\A\A";
    white-space: pre;
}

.about-me-intro {
    display: flex;
    gap: 1.125rem;
}

.about-me-intro img {
    transition: .3s;
}

.about-me-intro img:hover {
    opacity: 0.7;
}

#underline {
    text-decoration: underline;
}

/* - Techs - */

.techs h2 {
    color: #171D1C;
    margin-top: 6.25rem;
    margin-left: 3.75rem;
    font-size: 2.5rem;
}

.techs-imgs {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(87, 87, 96, 0.05);
    margin-top: 6.25rem;
    height: 31.25rem;
    margin-bottom: 9.375rem;
}

.techs-imgs img {
    transition: .3s;
}

.techs-imgs img:hover {
    opacity: 0.7;
}

/* Carrossel de Projetos */

.project-carousel h2 {
    color: #171D1C;
    margin-top: 6.25rem;
    margin-left: 3.75rem;
    font-size: 2.5rem;
}

.project-carousel p.carousel-desc {
    margin-left: 3.75rem;
    height: 10.625rem;
    width: 31.25rem;
    font-size: 1.25rem;
    font-weight: 300;
    margin-bottom: 0;
}

.project-carousel p.carousel-desc span {
    color: #797A9E;
}

/*SWIPER*/

.swiper {
    width: 56.25rem;
    height: 31.25rem;
    margin-bottom: 9.375rem;
    border-radius: 0.625rem;
  }

.swiper-slide {
    text-align: center;
    font-size: 1.125rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.swiper-slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.swiper-button-prev::after,
.swiper-button-next::after {
  font-weight: bolder;
}

.swiper-button-prev, .swiper-button-next {
    color: #EFE9F4 !important;
}

/* bolinhas normais */
.swiper-pagination .swiper-pagination-bullet {
    background-color: #aaa;
    opacity: 0.5;
}
  
  /* bolinha ativa */
.swiper-pagination .swiper-pagination-bullet-active {
    background-color: #EFE9F4;
    opacity: 1;
    transform: scale(1.2);
}

/* Estilização dos cards do projeto */

.get-on-git {
    height: 6.25rem;
    width: 100%;
    margin: 0;
    background-color: #797A9E;
    border: 1.25rem;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: .3s;
}

.get-on-git:hover {
    opacity: 0.7;
}

.get-on-git p {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 2.25rem;
}

.get-on-git p span {
    color: #171D1C;
}

.get-on-git a {
    width: inherit;
    text-decoration: none;
    color: #EFE9F4;
}
